<div class="p-3 mb-2 bg-primary text-white d-flex justify-content-between">
    <div>
        <span class="ms-5"> <i class="fa-solid fa-circle-play video-icon"></i>Global Company</span>
        <span class="ms-5"> <i class="fa-solid fa-circle-play video-icon"></i>Out Product</span>
        <span class="ms-5"> <i class="fa-solid fa-circle-play video-icon"></i>Contact</span>
    </div>

    <div class="ms-5"> <a href="/logout" class="btn btn-raised btn-danger">
            <i class="fa fa-lock mr-2" aria-hidden="true"></i>LogOut</a></div>
</div>
