<%- include("./partials/header") %>
<%- include("./partials/navbar3") %>
<div class="container">
    <div class="text">
        <h1>Hello, Halyna</h1>
    </div>
</div>
<%- include("./partials/footer") %>
