<%- include("./partials/header") %>
<%- include("./partials/navbarwelcome") %>

<div class="container mt-5 w-25">
    <div class="form_registration">
        <h2 class="mt-4">Registration</h2>
    </div>
    <div class="mt-3">
        <span>Return to</span><a href="/login" class="btn-primary"> Login Page</a>
        <span id="message"></span>
    </div>
    <div class="text-danger mt-2"><%= pageMessage %></div>
    <div class="login-form mt-4">
        <form action="/register" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
<%- include("./partials/footer") %>
